@use '../../../styles/' as *;

.register {
    display: flex;
    height: 100vh;
    @media screen and (max-width: 700px) {
        height: 100%;
    }
    @media screen and (max-width: 600px) {
        display: flex;
        justify-content: center;
        background-size: cover;
    }
    .main {
        background: white;
        flex: 1;
        padding: 30px 30px;
        &_link {
            color: $primary__color;
            display: flex;
            gap: 5px;
            justify-content: flex-end;
            cursor: pointer;
            text-decoration: none;
        }
        &_title {
            margin: 2rem 0;
            font-size: $text_xl;
            color: $primary__text;
        }
        &_form {
            &_item {
                display: flex;
                @media screen and (max-width: 700px) {
                    flex-wrap: wrap;
                }
                gap: 40px;
                margin-top: 20px;
                &_wrapper {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    flex: 1;
                    margin-top: 15px;
                    color: $primary__text_2;
                    font-size: $text_sm;
                    input {
                        height: 18px;
                        width: 18px;
                    }
                    &:nth-of-type(2) {
                        justify-content: end;
                    }
                }
            }
        }
        &_hr {
            margin: 20px 0;
            border-top: 1px dashed gainsboro;
        }
    }
}

.side {
    flex: 1;
    background: url('/public/auth/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (max-width: 600px) {
        display: none;    }
    // .side_shadow {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background: black;
    //     opacity: 0.7;
    // }
}
