// primary text
$primary__text: #42505c;
$primary__text_2: #333333;
$primary__text_3: #ffffff;
$primary__text_4: #2B2A29;
// primary colors
$primary__color: #4743e0;
$primary__background: #F5F5F5;

//border colors
$primary_border: #D1D1D1;
$primary_radius: 5px;

// text
$text_xl: 54px;
$text_lg: 24px;
$text_sm: 14px;
$text_xs: 12px;