// primary text
$primary__text: #42505c;
$primary__text_2: #333333;
$primary__text_3: #ffffff;

// primary colors
$primary__color: #4743e0;
$primary__background: #F5F5F5;

//border colors
$primary_border: #D1D1D1;

// text
$text_xl: 54px;
$text_lg: 54px;
$text_xs: 12px;