@use '../../styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar_section {
    background-color: #d25c5c;
}

.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_list {
    display: flex;
    justify-content: space-between;
    margin-right: 370px;
}

.navbar_items {
    font-family: 'Montserrat';
    color: #ffffff;
    margin-left: 60px;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
}

.login_button {
    font-family: 'Montserrat';

    background: #f5b12d;
    border-radius: 50px;
    width: 145px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: $primary__text_3;
    font-size: 17px;
}
